@model Portfolio.ViewModels.HomeViewModel

<link rel="stylesheet" href="~/css/pageStyle.css" />
  


@{
    ViewData["Title"] = "Ibrahim Agrud";
}

<div>
    
      
    <section style="margin-top:100px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mt-5">

                    <span class="fs-1"> @Model.about.greeting <span class="name-box">@Model.about.firstName @Model.about.lastName</span></span>
                    <p>
                        @Model.about.description
                    </p>
                    <a class="btn btn-primary" href="#Contact">Let's Talk👋🏻</a>
                </div>
                <div class="col-md-4"><img class="rounded-circle image ms-5" src="Images/me.jpg" alt="profil Photo">
                </div>
            </div>
        </div>
    </section>


       <section class="section" id="Education">
        <div class="container">
            <h2>Education</h2>
            <hr>
            <div class="row" >
                @foreach(var edu in Model.education)
                {
                 <div class="col-md-6">
                     <div class="card edu-card-black">
                         <div>
                             <p class="fs-3 mt-4">@edu.schoolTitle <span class="fs-5">(@edu.entranceYear.ToString("yyyy") - @edu.endYear.ToString("yyyy"))</span></p>
                             <img src="@edu.imgPath" class="image rounded-circle" alt="School Logo">
                         </div>
                     </div>
                 </div>
                }

            </div>
        </div>
    </section>

    
    <section class="section" id="Projects">
        <div class="container">
            <h2>Projects</h2>
            <hr>
            @foreach(var project in Model.projects)
            {
                <div class="card project-card">
                <div class="card-body"><span class="fs-2">@project.projectTitle <br></span>
                    <p>
                       <span class="fs-5" style="color: rgb(170, 67, 249);"> @project.technologiesUsed <br></span>
                        @project.description
                    </p>
                    <a class="btn btn-primary ms-1"
                        href="@project.githubLink" target="_blank">Github</a>
                </div>
            </div>
            }
        </div>

        </section>


    <section class="section" id="Skills">
        <div class="container">
            <h2>Skills</h2>
            <hr>

            <div class="fs-2 ms-4 col-md-12">
                <div class="d-flex flex-wrap"  style="gap: 110px;">

                      @foreach(var skill in Model.skill)
                {
                    <div>
                         <img src="@skill.imgPath" alt="@skill.skillTitle logo" width="60"><span class="ms-3">@skill.skillTitle</span>
                    </div>
                }


                </div>
            </div>
        </div>
    </section>


            <section class="section" id="Resume" style="height: 800px;">
            <div class="container" style="height: 800px;">
                <h2 class="titleHead">Resume</h2>
                <hr>
                <iframe class="ratio" src="files/İbrahimAgrudResume.pdf" style="width: 100%;height: 100%;border: none;"></iframe>
            </div>
        </section>


            <section class=" section" id="Contact">
        <div class="container">
            <h2 class="titleHead">Find Me Online</h2>
            <hr>
            <a class="bi bi-youtube text-white fs-3 ms-5 " href="https://www.youtube.com/@@SolidCode"></a>
            <a class="bi bi-twitter-x text-white fs-3 ms-5 " href="https://www.youtube.com/@@SolidCode"></a>
            <a class="bi bi-instagram text-white fs-3 ms-5 " href="https://www.youtube.com/@@SolidCode"></a>
            <a class="bi bi-reddit text-white fs-3 ms-5 " href="https://www.youtube.com/@@SolidCode"></a>
            <a class="bi bi-envelope-at text-white fs-3 ms-5 " href="https://www.youtube.com/@@SolidCode"></a>
        </div>
    </section>

</div>
